.wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-gap: 1rem;

  input, select {
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: .3rem;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  button {
    background: #025B6E;
    padding: .5rem 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: .5rem;
    color: #fff;
    justify-self: center;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: #03819c;
    }

    &:disabled {
      background: #025B6E;
      cursor: not-allowed;
    }
  }
}