.wrapper {
  margin-bottom: 1rem;
  background: #F8F8F8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: transparent;
  padding: .5rem 1rem;
  display: grid;
  grid-gap: .5rem;

  .header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;

    .title {
      font-weight: 600;
      text-align: justify;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: .5rem;
      align-items: baseline;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border: transparent;
        border-radius: .3rem;
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
      }

      .checked {
        background: #025B6E;
      }

      .notChecked {
        background: #DBDBDB;
      }

      .deleted {
        background: #A50000;
      }
    }
  }
  .description {
    text-align: justify;
  }
}