@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

button, input, select {
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}