.wrapper {
  display: flex;
  flex-direction: column;

  .setAllCompleted {
    background: #025B6E;
    padding: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: .5rem;
    color: #fff;
    justify-self: center;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background: #03819c;
    }
  }
}